@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid" id="content_zip">
    <div class="row">
        <div class="col-xl-12">

            <div class="card-body">
                <div class="text-s font-weight-bold text-custom1 text-uppercase mb-1">
                    <button type="button" id="btncartoon" class="btncategory btn btn-info col-xl-2" tabindex="38">
                        <i class="fa fa-smile" style="width:50px;height:50px;"></i><br> Cartoon
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <button type="button" id="btnmagazine" class="btncategory btn btn-warning col-xl-2" tabindex="38">
                        <i class="fa fa-book" style="width:50px;height:50px;"></i><br> Magazine
                    </button>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <button type="button" id="btnmagazine" class="btncategory btn btn-success col-xl-2" tabindex="38">
                        <i class="fa fa-newspaper" style="width:50px;height:50px;"></i><br> Information
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" id="btnmagazine" class="btncategory  col-xl-2" style="background-color:coral" tabindex="38">
                        <i class="fa fa-lightbulb" style="width:50px;height:50px;"></i><br> Popular
                    </button>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" id="btnmagazine" class="btncategory col-xl-2" style="background-color:lightpink" tabindex="38">
                        <i class="fa fa-ghost" style="width:50px;height:50px;"></i><br> Horror
                    </button>

                </div>
            </div>

         
        </div>
    </div>
</div>


